.slide{
    margin-left: 450px;
    width: 500px;
    height: 500px;
    background:url(download\ \(2\).jpeg);
    animation: slide  20s infinite;

}

@keyframes slide{
    0%{
        background: url(krishna\ p.jpg);

    }
    
    25%{
        background: url(download\ \(1\).jpeg);
        
    }


    75%{
        background: url(download\ \(2\).jpeg);
        
    }

    100%{
        background: url(krishna\ p.jpg);
        
    }
}


img{
    padding-left: 35%;
}

ul{
    font-size: larger;
    color: cornflowerblue;
}



ul li{
    padding-left: 40%;
    font-size: larger;
    list-style: none;
    color: burlywood;
}

ul p{
    color: brown;
}

.life{
    text-align: center;
    color: cadetblue;
}

.one{
    list-style-type: decimal;
    color: white;
}

.audio1{
    size: 1cm;
    padding-left: 40%;
}
